{% extends "base.html.twig"%}

{% form_theme formParefeu 'bootstrap_4_layout.html.twig' %}



        {% block javascripts %} 
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>


{% endblock %}

{%block title %}

{% if editMode %} Modifier
{% else %} Ajouter
{% endif %}
un Parefeu
{% endblock %}

{% block body %}
</br>



<div class="container mt-4">
<h3> {% if editMode %} 
Modifier
{% else %} Ajouter
{% endif %} un Parefeu </h3> 
<p class="text-info">Ajouter un Parefeu dans la base de données.</p>

{{ form_start(formParefeu) }}

{{ form_widget(formParefeu)}}
    {# Si mode edit on affiche les documents #}
	{% if editMode %} 
        <h2>Document</h2>
        {% if documents is defined %} 
             {% for document in documents %}
            <div>
              <a href="{{ asset('documents/' ~ document.name) }}">{{ document.name }}</a>

                {# On ajoute un lien permettant de supprimer un document (sera géré en Ajax) #}
                <a href="{{ path('deletedocument', {id: document.id})}}">Supprimer</a>
            </div>
             {% endfor %}
        {% endif %}
    
    {% endif %}
{{ form_end(formParefeu) }}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
    
</body>



</div>
{% endblock %}
